.filterPanel {
  background-color: var(--background-color);
  border-right: 1px solid var(--border-color);
  padding: 20px;
  width: 250px;
  min-width: 250px;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
}

.filterTitle {
  font-size: 1.5em;
  color: var(--main-color);
  margin-bottom: 20px;
}


@media (max-width: 800px) {
  .filterPanel {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    height: auto;
  }
}
